body {
    font-family: Arial;
    width: 260px;
    padding: 15px;
    background: #0d0d0d;
    color: white;
    text-align: center;
}

button {
    padding: 8px;
    margin: 5px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}